@import 'tailwindcss';

:root {
  --background: #000;
  --foreground: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background: url('/warframe/bg.jpg');
}

.warf-glass {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.glass-btn {
  transition: 0.2s;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.glass-btn:hover {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 8px 1px #fff;
}
